<nav class ="navbar_home">
  <h1>써트케어</h1>

  <ul class="navbar_list">
    <li class="nav-item">
      <a class="nav-link" href="/">자격증 정보</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">자격증 검색 챗봇</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        커뮤니티
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/board/1">게시판1</a></li>
        <li><a class="dropdown-item" href="/board/2">게시판2</a></li>
      </ul>
    </li>
  </ul>

  <div class="user-actions">
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
  </div>
</nav>