<nav class ="navbar_home">
  <h1><a href="/">써트케어</a></h1>

  <ul class="navbar_list">
    <li class="nav-item">
    <li class="nav-item">
      <a class="nav-link" href="/chatbot">QA 챗봇</a>
    </li>
    <li>
      <a class="nav-link" href="/certtype">국가 기술 자격증</a>
    </li>
    <li>
      <a class="nav-link" href="/certtype">어학 자격증</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        커뮤니티
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/board/1">사업관리</a></li>
        <li><a class="dropdown-item" href="/board/2">경영.회계.사무</a></li>
        <li><a class="dropdown-item" href="/board/3">금융.보험</a></li>
        <li><a class="dropdown-item" href="/board/4">교육.자연.과학.사회과학</a></li>
        <li><a class="dropdown-item" href="/board/5">법률.경찰.소방.교도.국방</a></li>
        <li><a class="dropdown-item" href="/board/6">보건.의료</a></li>
        <li><a class="dropdown-item" href="/board/7">사회복지.종교</a></li>
        <li><a class="dropdown-item" href="/board/8">문화.예술.디자인.방송</a></li>
        <li><a class="dropdown-item" href="/board/9">운전.운송</a></li>
        <li><a class="dropdown-item" href="/board/10">영업.판매</a></li>
        <li><a class="dropdown-item" href="/board/11">경비.청소</a></li>
        <li><a class="dropdown-item" href="/board/12">이용.숙박.여행.오락.스포츠</a></li>
        <li><a class="dropdown-item" href="/board/13">음식서비스</a></li>
        <li><a class="dropdown-item" href="/board/14">건설</a></li>
        <li><a class="dropdown-item" href="/board/15">광업자원</a></li>
        <li><a class="dropdown-item" href="/board/16">기계</a></li>
        <li><a class="dropdown-item" href="/board/17">재료</a></li>
        <li><a class="dropdown-item" href="/board/18">화학</a></li>
        <li><a class="dropdown-item" href="/board/19">섬유.의복</a></li>
        <li><a class="dropdown-item" href="/board/20">전기.전자</a></li>
        <li><a class="dropdown-item" href="/board/21">정보통신</a></li>
        <li><a class="dropdown-item" href="/board/22">식품.가공</a></li>
        <li><a class="dropdown-item" href="/board/23">인쇄.목재.가구.공예</a></li>
        <li><a class="dropdown-item" href="/board/24">농림어업</a></li>
        <li><a class="dropdown-item" href="/board/25">안전관리</a></li>
        <li><a class="dropdown-item" href="/board/26">환경.에너지</a></li>



      </ul>
    </li>
  </ul>

  <div class="user-actions">
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
  </div>
</nav>