.container h2{
    margin: 0;
    text-align: center;
}

.container h4{
    margin: 8px;
    text-align: center;
}

.container p{
    margin: 8px;
    text-align: center;
}

.boardCon{
    width: 100%;
    margin: 5px;
    padding: 0 0 18px 0;
    background-color: #DEF8FF;
    border-radius: 5px;
}

.boardBar{
    background-color: #9EE2FF;
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    border-radius: 5px;
}

.board{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
}

.boardContent a{

}

.board a{
    color: black;
    text-decoration: none;
}

.title{
    width: 50%;
}

.writer{
    width: 20%;
}

.date{
    width: 30%;
}

.wirte {
    margin: 5px;
    padding: 5px;
    color: black;
    text-decoration: none;
    float: right;
}