.certTitle{
    margin: 0;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    background-color: #F2F0FB;
    border-radius: 5px;
}

.certTitle h2{
    margin: 5px;
    padding: 5px;
}

.contentCon{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contentCon h4{
    margin: 0;
    padding: 8px;
}

.contentCon .session h4{
    text-align: center;
}

.contentCon p{
    margin: 0;
    padding: 5px;
}

.leftCon{
    width: 28%;
    padding: 8px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: #b0e7ff;
}

.date{
    padding: 8px;
    margin: 10px;
    border-radius: 15px;
    background-color: #dff5ff;
}

.session{
    border-bottom: 1px solid;
}

.sessionDate{
    margin: 10px 0 0;
}

.rightCon{
    width: 70%;
}

.rightCon div{
    padding: 8px;
    margin: 15px 0;
    border-radius: 15px;
}

.overview,
.outlook{
    background-color: #dff5ff;
}

.duty{
    background-color: #F2F0FB;
}

.test{
    background-color: #FFF9E9;
}

.certInfo{
    margin: 10px;
    padding: 8px;
    background-color: white;
}

