.chatBot{
    margin: 0;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    background-color: #F2F0FB;
    border-radius: 5px;
}

.chatBot h2{
    margin: 5px;
    padding: 5px;
}

.chatting{
    height: 500px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F2F0FB;
    box-shadow: 0 0 5px 0;
}

.chatSave{
    height: 430px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.chatSave p{
    margin: 0;
}

.aiChat{
    padding: 15px;
    margin: 5px;
    min-height: 20px;
    border-radius: 50px;
    background-color: white;
    align-self: flex-start;
}

.aiChat p{
    height: 20px;
    padding: 3px;
    opacity: 0;
}

.aiChat p.show,
.memChat p.show{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.memChat{
    padding: 15px;
    margin: 5px;
    min-height: 20px;
    border-radius: 50px;
    background-color: white;
    align-self: flex-end;
}

.memChat p{
    height: 20px;
    padding: 3px;
}


.chatInput{
    display: flex;
    justify-content: space-between;
}

.chatInput input{
    width: 92%;
    height: 20px;
    padding: 12px;
    margin: 0 0 0 10px;
    font-size: 15px;
}

.chatInput:focus {
    outline: none;
}

.chatInput button{
    width: 50px;
    height: 50px;
    margin: 0 5px 0 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

