.chatCon{
    display: flex;
    align-items: center;
    background-color: #F2F0FB;
    border-radius: 5px;
}

.chatCon h3{
    padding: 0 10px;
    margin: 15px;
}

.chatButton {
    height: 20px;
    padding: 5px;
    margin: 0 15px;
    background-color: #B367FF;
    border-radius: 5px;
}

.chatButton a{
    padding: 5px;
    color: white;
    text-decoration: none;
}

.topCert{
    margin: 45px 0 20px 0;
}

.topCert h2{
    margin: 4px 5px;
    padding: 0 10px;
}

.certCon{
    background-color: #DEF8FF;
    border-radius: 5px;
    padding: 18px 8px 18px 18px;
}

.certCon h4{
    margin: 0;
}

.certRow{
    display: flex;
}

.cert{
    width: 235px;
    min-height: 75px;
    margin-right: 10px;
    background-color: #9EE2FF;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cert h4{
    margin: 10px 0 5px 0;
}

.cert a{
    margin: 5px;
    padding: 5px;
    color: black;
    text-decoration: none;
    display: none;
    /*visibility: hidden;*/
}

.cert:hover a {
    display: block;
    /*visibility: visible;*/
}