.chatCon{
    display: flex;
    align-items: center;
    background-color: #F2F0FB;
    border-radius: 5px;
}

.chatCon h3{
    padding: 0 10px;
    margin: 15px;
}

.chatButton {
    height: 20px;
    padding: 5px;
    margin: 0 15px;
    background-color: #B367FF;
    border-radius: 5px;
}

.chatButton a{
    padding: 5px;
    color: white;
    text-decoration: none;
}

.topCert{
    margin: 45px 0 20px 0;
}

.topCert h2{
    margin: 4px 5px;
    padding: 0 10px;
}

.certCon{
    background-color: #DEF8FF;
    border-radius: 5px;
    padding: 18px 8px 18px 18px;
}

.certCon h4{
    margin: 0;
}

.certRow{
    display: flex;
}

.cert{
    width: 235px;
    min-height: 75px;
    margin-right: 10px;
    background-color: #9EE2FF;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cert h4{
    margin: 10px 0 5px 0;
}

.cert a{
    margin: 5px;
    padding: 5px;
    color: black;
    text-decoration: none;
    display: none;
    /*visibility: hidden;*/
}

.cert:hover a {
    display: block;
}

/*캐러셀*/
.carousel {
    position: relative;
}

.carousel h2{
    margin: 20px 80px;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-next,
.carousel-control-prev{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

/*.carousel-control-prev-icon {*/
/*    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");*/
/*}*/

/*.carousel-control-next-icon {*/
/*    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");*/
/*}*/

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    /*background-color: #F2F0FB;*/
}

.carousel-indicators .active {
    opacity: 1;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    /*background-color: #F2F0FB;*/
}

.carousel-item.active {
    display: block;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    height: 400px;
    min-width: 1250px;
    background-color: #5576ff5c;
}

.carousel-item .itemContent{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.carousel-item h1,
.carousel-item h3,
.carousel-item p{
    margin: 5px;
    padding: 5px;
    width: 480px;
}

.itemDesDiv {
    height: 270px;
    /*padding: 10px;*/
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

.itemUrlDiv {
    /*width: 170px;*/
    /*padding: 8px 15px;*/
    /*border-radius: 25px;*/
    /*border: 2px solid white;*/
    border-radius: 25px;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    width: 470px;
}

.itemUrl {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/*.itemImgDiv {*/
/*    margin: 20px;*/
/*}*/

/*.itemImgDiv img {*/
/*    width: 500px;*/
/*    height: 360px;*/
/*    border-radius: 10px;*/
/*    !*box-shadow: 0 0 20px 5px #b367ff;*!*/
/*    border: 1px solid #ffffff;*/
/*}*/

.itemImgDiv {
    margin: 20px;
    position: relative;
    display: inline-block;
}

.itemImgDiv img {
    width: 450px;
    height: 360px;
    display: block;
    /*max-width: 100%;*/
    /*height: auto;*/
    border-radius: 48%;
    border: 2px solid white;
}

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(255, 255, 255, 0.5);*/
/*    border-radius: 10px;*/
/*    filter: blur(5px);*/
/*    z-index: 2;*/
/*}*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.containerMain{
    height: auto;
}

.description1{
    width: 95%;
    display: flex;
    align-items: center;
    margin: 20px;
}

.description1 .txt{
    margin: 0 0 0 20px;
}

.description1 .txt p{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
}

.description1 button{
    padding: 7px 25px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #000;
    border-radius: 25px;
    background-color: #ffffff;
}

.description1 img{
    width: 200px;
    height: 200px;
}

/*.img::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: linear-gradient(#B367FF, #4478FF);*/
/*    opacity: 0.8;*/
/*    z-index: 1;*/
/*}*/

/*.img img {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/

.description2{
    padding: 10px;
    background-color: #D4CAFF;
    border-radius: 10px;
}

.description2 h2{
    padding: 15px 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.bi{
    margin: 10px auto;
    display: flex;
}

.description3{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.description3 .feature{
    display: flex;
    align-items: center;
    border-left: 3px solid transparent;
    border-image: linear-gradient(to bottom, #a869ff, #4678ff);
    border-image-slice: 1;
}

.description3 .feature svg{
    margin: 0 20px;
}

.description3 .feature .fd{
    width: 258px;
}



