.container h2{
    margin: 4px 5px;
    padding: 0 10px;
}

.container h4{
    margin: 0;
}

.summary{
    display: flex;
    justify-content: space-between;
}

.certNum {
    width: 30%;
    margin: 5px;
    padding: 18px;
    background-color: #FFF9E9;
    border-radius: 5px;
}

.memberInfo{
    width: 60%;
    margin: 5px;
    padding: 18px;
    background-color: #F2F0FB;
    border-radius: 5px;
}

.certInfo{
    width: 100%;
    /*margin: 5px;*/
    /*padding: 18px 8px 18px 18px;*/
    background-color: #DEF8FF;
    border-radius: 5px;
}

.certInfoCon{
    margin: 5px;
    padding: 18px 8px 18px 18px;
}

.conSum{
    display: flex;
    justify-content: space-between;
}

.addBtn button{
    height: 25px;
    margin: 5px;
    padding: 5px;
    background: #1f80fb;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.certRow{
    display: flex;
}

/* 접수 하는 사이트?*/


.cert{
    width: 235px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.cert p{
    margin: 8px;
}

.certAddWindow{
    width: 700px;
    margin: auto;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.certWindow{
    padding: 10px;
    min-height: 400px;
}

.windowTitle {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #5FA6FF;
}

.windowTitle h3{
    margin: 5px;
    padding: 5px 0
}

.windowTitle button{
    margin: 7px;
    padding: 0 8px;
    background-color: #0275FF;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
}

.windowNav{
    margin: 5px 0;
    padding: 10px;
    display: flex;
    background-color: #DEF8FF;
    border-radius: 5px;
}

.windowNav>.certName,
.windowNav>.certAuth,
.windowNav>.certDate{
    margin: 0 5px;
    width: 26.6%;
}

.windowCertInfo{
    margin: 5px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.windowCertInfo p{
    margin: 0 5px;
}

.windowCertInfo>.certTitle,
.windowCertInfo>.certAuth,
.windowCertInfo>.certDate{
    width: 26.6%;
}

.windowCertInfo button{
    padding: 6px 11px;
    font-size: 15px;
    background-color: #F1F1F3;
    border-radius: 5px;
    border: none;
}

.windowCertAdd{
    margin: 5px 0;
    padding: 5px;
    display: flex;
}

.windowCertAdd input{
    width: 25.5%;
    height: 25px;
    margin: 0 5px 0 0;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.windowCertAdd input #certTitle{
    width: 26.6%;
}

.windowCertAdd button{
    padding: 6px 37px;
    margin: 0 0 0 3px;
    font-size: 15px;
    background-color: #F1F1F3;
    border-radius: 5px;
    border: none;
}

.windowCertInfoSave button{
    width: 100%;
    height: 40px;
    font-size: 17px;
    background-color: #0275FF;
    border: none;
    border-radius: 5px;
    color: white;
}