<!DOCTYPE html>
<html lang="en">
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Certcare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/adminLogin.js"></script>


</head>
<body>
<div class="container">
    <div class="loginForm">
        <div class="title">
            <h1>관리자 로그인</h1>
            <p>관리자 로그인 페이지입니다.</p>
        </div>

        <div class="pinfo_input_form">
            <label for="adminId">아이디</label>
            <input type="text" id="adminId" name="adminId" placeholder="아이디를 입력하세요">
        </div>
        <div class="pinfo_input_form">
            <label for="adminPw">비밀번호</label>
            <input type="password" id="adminPw" name="adminPw" placeholder="비밀번호를 입력하세요">
        </div>

        <button type="button" onclick="adminLoginForm()">로그인</button>
    </div>
</div>
</body>
</html>