<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Certcare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/head.css">
    <link rel="stylesheet" type="text/css" href="/css/article.css">
    <script src="/js/head.js"></script>
    <script th:inline="javascript">
        var article = [[${article}]]
        console.log(article)
    </script>
    <script th:inline="javascript">
        var commentList = [[${commentList}]]
        console.log(commentList)
    </script>
    <script src="/js/article.js"></script>
</head>

<body>
<div th:replace="layout/head :: nav"></div>

<div class="container">
    <div class="empty"></div>
    <div class="form">
        <div class="boardTitle">
            <h4 th:text="${boardName}">| 어느 커뮤니티 게시판</h4>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
            <input type="text" id="writer" name="writer" placeholder="작성자명">
<!--            <input th:value="${article.title}" type="text" id="title" name="title" placeholder="제목을 입력하세요">-->
<!--            <input th:value="'작성자 | '+ ${article.writer}" type="text" id="writer" name="writer" placeholder="작성자명">-->
        </div>

        <div class="boardContent">
            <textarea id="content" name="content" placeholder="본문을 입력하세요"></textarea>
<!--            <textarea th:text="${article.body}" id="content" name="content" placeholder="본문을 입력하세요" disabled></textarea>-->
        </div>

        <div class="btnCon">

            <button type="button" class="update" onclick="updateBtnClick()">수정</button>
            <button type="button" class="updateSend" onclick="updateSendBtnClick()" style="display: none">수정완료</button>
            <button type="button" class="delete" onclick="deleteBtnClick()">삭제</button>

            <button type="button" class="redirBtn">목록</button>
            <button type="button" class="articleSend" onclick="articleSendBtnClick()" style="display: none">등록</button>
            <button type="button" class="commentBtn">댓글쓰기</button>
        </div>

        <div class="boardComment">
            <p class="commentBar">댓글 목록</p>
            <div class="commentAdd">
                <input type="text" id="commentAdd" name="commentAdd" placeholder="댓글을 작성해주세요">
                <button class="commentAddBtn" type="submit">등록</button>
            </div>
            <div class="commentList">
            </div>
            </div>
        </div>
    </div>

    <div class="empty"></div>
    <div class="empty"></div>
</div> <!-- /container -->

</body>

<div th:replace="layout/footer :: footer"></div>

</html>
