<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SignUp</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/head.css">
  <link rel="stylesheet" type="text/css" href="/css/certtype.css">
  <script src="/js/certtype.js"></script>

</head>

<body>
<div th:replace="layout/head :: nav"></div>

<div class="container">
  <div class="empty"></div>
  <div class="infoTitle">
    <h2>자격증 정보</h2>
  </div>
  <div class="empty"></div>
  <div class="field">
    <div class="fieldSum">
      <h4>경영.회계.사무</h4>
      <button type="button">더보기</button>
    </div>
    <div class="fieldCert">
      <div class="fieldCertRow">
        <div class="cert">
          <h4>토익스피킹</h4>
          <p>시험기관 | 미국 ETS</p>
          <p>접수일 | 2023-12-31</p>
          <p>접수일 | 2023-12-31</p>
          <div class="moveDetail">
            <a href="/">상세페이지 이동</a>
          </div>
        </div>
        <div class="cert">
          <h4>자격증명</h4>
          <p>시험기관 | 미국 ETS</p>
          <p>접수일 | 2023-12-31</p>
          <p>접수일 | 2023-12-31</p>
          <div class="moveDetail">
            <a href="/">상세페이지 이동</a>
          </div>
        </div>
        <div class="cert">
          <h4>자격증명</h4>
          <p>시험기관 | 미국 ETS</p>
          <p>접수일 | 2023-12-31</p>
          <p>접수일 | 2023-12-31</p>
          <div class="moveDetail">
            <a href="/">상세페이지 이동</a>
          </div>
        </div>
        <div class="cert">
          <h4>자격증명</h4>
          <p>시험기관 | 미국 ETS</p>
          <p>접수일 | 2023-12-31</p>
          <p>접수일 | 2023-12-31</p>
          <div class="moveDetail">
            <a href="/">상세페이지 이동</a>
          </div>
        </div>
        <div class="cert">
          <h4>자격증명</h4>
          <p>시험기관 | 미국 ETS</p>
          <p>접수일 | 2023-12-31</p>
          <p>접수일 | 2023-12-31</p>
          <div class="moveDetail">
            <a href="/">상세페이지 이동</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<div th:replace="layout/footer :: footer"></div>

</html>
