<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Certcare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/head.css">
  <link rel="stylesheet" type="text/css" href="/css/certdetail.css">
  <script src="/js/head.js"></script>
</head>

<body>
<div th:replace="layout/head :: nav"></div>

<div class="container">
  <div class="empty"></div>
  <div class="certTitle">
    <h2>토익 스피킹</h2>
  </div>

  <div class="contentCon">
    <div class="leftCon">
      <div class="date">
        <div class="session">
          <h4>N 회 시험일정</h4>
        </div>
        <div class="sessionDate">
          <p>접수일 | 2023-12-31 ~ 2024-12-31</p>
          <p>응시일 | 2023-12-31 ~ 2024-12-31</p>
        </div>
      </div>
      <div class="date">
        <div class="session">
          <h4>N 회 시험일정</h4>
        </div>
        <div class="sessionDate">
          <p>접수일 | 2023-12-31 ~ 2024-12-31</p>
          <p>응시일 | 2023-12-31 ~ 2024-12-31</p>
        </div>
      </div>
    </div>

    <div class="rightCon">
      <div class="overview">
        <h4>개요</h4>
        <div class="certInfo">
          <p>해당 시험은 무슨 무슨 시험이다 이게 뭘까 뭔가 시험에 대한 설명을 담고 있으면 좋겠다</p>
        </div>
      </div>
      <div class="eligibility">
        <h4>개요</h4>
        <div class="certInfo">
          <p>해당 시험은 무슨 무슨 시험이다 이게 뭘까 뭔가 시험에 대한 설명을 담고 있으면 좋겠다</p>
        </div>
      </div>
      <div class="method">
        <h4>개요</h4>
        <div class="certInfo">
          <p>해당 시험은 무슨 무슨 시험이다 이게 뭘까 뭔가 시험에 대한 설명을 담고 있으면 좋겠다</p>
        </div>
      </div>
    </div>


  </div>

  <div class="empty"></div>

</div>

</body>

<div th:replace="layout/footer :: footer"></div>

</html>
