<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Certcare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/head.css">
  <link rel="stylesheet" type="text/css" href="/css/certdetail.css">
  <script src="/js/head.js"></script>
  <script th:inline="javascript">
    var certDetail = [[${certDetail}]];
    console.log(certDetail);
  </script>
  <script src="/js/certdetail.js"></script>

</head>

<body>
<div th:replace="layout/head :: nav"></div>

<div class="container">
  <div class="empty"></div>
  <div class="certTitle">
<!--    <h2>토익 스피킹</h2>-->
  </div>

  <div class="contentCon">
    <div class="rightCon">
<!--      <div class="overview">-->
<!--        <h4>개요</h4>-->
<!--        <div class="certInfo">-->
<!--          <p>해당 시험은 무슨 무슨 시험이다 이게 뭘까 뭔가 시험에 대한 설명을 담고 있으면 좋겠다</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="duty">-->
<!--        <h4>수행직무</h4>-->
<!--        <div class="certInfo">-->
<!--          <p>해당 시험은 무슨 무슨 시험이다 이게 뭘까 뭔가 시험에 대한 설명을 담고 있으면 좋겠다</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <h4>시험 정보</h4>-->
<!--        <div class="certInfo">-->
<!--          <p>해당 시험은 무슨 무슨 시험이다 이게 뭘까 뭔가 시험에 대한 설명을 담고 있으면 좋겠다</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="outlook">-->
<!--        <h4>진로 및 전망</h4>-->
<!--        <div class="certInfo">-->
<!--          <p>해당 시험은 무슨 무슨 시험이다 이게 뭘까 뭔가 시험에 대한 설명을 담고 있으면 좋겠다</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <div class="leftCon">
        <div class="date">
          <div class="session">
            <h4>1 회 시험일정</h4>
          </div>
          <div class="sessionDate">
            <p>접수일 | 2024-1-23 ~ 2024-1-26</p>
            <p>응시일 | 2024-2-15 ~ 2024-3-7</p>
          </div>
        </div>
        <div class="date">
          <div class="session">
            <h4>2 회 시험일정</h4>
          </div>
          <div class="sessionDate">
            <p>접수일 | 2024-4-16 ~ 2024-4-19</p>
            <p>응시일 | 2024-12-31 ~ 2024-12-31</p>
          </div>
        </div>
    </div>
  </div>

  <div class="empty"></div>

</div>

</body>

<div th:replace="layout/footer :: footer"></div>

</html>
