<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Certcare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/head.css">
  <link rel="stylesheet" type="text/css" href="/css/chatbot.css">
  <script src="/js/head.js"></script>
  <script src="/js/chatbot.js"></script>
</head>

<body>
<div th:replace="layout/head :: nav"></div>

<div class="container">
  <div class="empty"></div>
  <h2>자격증 검색 챗봇</h2>

  <div class="chatting">
    <div class="chatSave">
      <div class="aiChat">
        <p></p>
      </div>
    </div>
    <div class="chatInput">
      <input type="text" id="chatInput" name="chatInput" placeholder="질문을 입력하세요!">
      <button class="sendBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi bi-send" viewBox="0 0 16 16" transform="rotate(-90)">
          <linearGradient id="myGradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color:#B367FF" />
            <stop offset="100%" style="stop-color:#4478FF" />
          </linearGradient>
        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
              fill="url(#myGradient)"/>
        </svg>
      </button>
    </div>


  </div>

  <div class="empty"></div>
</div>

</body>

<div th:replace="layout/footer :: footer"></div>

</html>
