<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Certcare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/head.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/head.js"></script>
    <script src="/js/login.js"></script>
</head>

<body>
<div th:replace="layout/head :: nav"></div>

<div class="container">
    <div class="loginForm">
        <div class="title">
            <h1>로그인</h1>
            <p>로그인이 필요한 서비스입니다</p>
        </div>

        <div class="pinfo_input_form">
          <label for="userId">아이디</label>
          <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요">
        </div>
        <div class="pinfo_input_form">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
        </div>

        <p><a href="/signup">회원가입</a></p>

        <button type="button" onclick="loginForm()">로그인</button>
    </div>
</div>
</body>

<div th:replace="layout/footer :: footer"></div>

</html>
