<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Certcare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/head.css">
  <link rel="stylesheet" type="text/css" href="/css/members.css">
  <script src="/js/adminLogin.js"></script>
  <script th:inline="javascript">
    var members = [[${members}]]
    console.log(members)
  </script>
  <script src="/js/members.js"></script>
</head>

<body>
<div th:replace="layout/adminHead :: nav"></div>

<div class="container">
  <div class="empty"></div>

  <h1>써트케어 회원 관리</h1>

  <div class="empty"></div>

  <div class="memberCon">
    <div class="memberBar">
      <h4 class="ID">사용자 ID</h4>
      <h4 class="id">사용자 아이디</h4>
      <h4 class="name">사용자 닉네임</h4>
    </div>
  </div>
</div>
<div class="empty"></div>
<div class="empty"></div>

<div th:replace="layout/footer :: footer"></div>
</body>


</html>
