<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/head.css">
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <script src="/js/mypage.js"></script>
</head>

<body>
<div th:replace="layout/head :: nav"></div>

<div class="container">
    <div class="empty"></div>
    <h2>마이페이지</h2>

    <div class="summary">
        <div class="certNum">
            <h4>나의 자격증</h4>
            <p>보유 자격증 : n 개</p>
        </div>
        <div class="memberInfo">
            <h4>나의 정보</h4>
            <p>닉네임</p>
            <p>아이디</p>
        </div>
    </div>

    <div class="empty"></div>
    <h2>나의 자격증</h2>
    <div class="certInfo">
        <div class="conSum">
            <div>
                <h4>보유 자격증</h4>
                <p>회원 님이 보유한 자격증</p>
            </div>
            <div class="addBtn">
                <button>자격증 추가</button>
            </div>
        </div>
        <div class="certRow">
            <div class="cert">
                <p>자격증명</p>
                <p>토익</p>
                <p>시행기관</p>
                <p>미국 ETC</p>
                <p>취득일</p>
                <p>2023-12-31</p>
            </div>
            <div class="cert">
                <p>자격증명</p>
                <p>토익</p>
                <p>시행기관</p>
                <p>미국 ETC</p>
                <p>취득일</p>
                <p>2023-12-31</p>
            </div>
            <div class="cert">
                <p>자격증명</p>
                <p>토익</p>
                <p>시행기관</p>
                <p>미국 ETC</p>
                <p>취득일</p>
                <p>2023-12-31</p>
            </div>
            <div class="cert">
                <p>자격증명</p>
                <p>토익</p>
                <p>시행기관</p>
                <p>미국 ETC</p>
                <p>취득일</p>
                <p>2023-12-31</p>
            </div>
            <div class="cert">
                <p>자격증명</p>
                <p>토익</p>
                <p>시행기관</p>
                <p>미국 ETC</p>
                <p>취득일</p>
                <p>2023-12-31</p>
            </div>
        </div>
    </div>

    <div class="certAddWindow">
        <div class="certWindow">
            <div class="windowTitle">
                <h3>보유 자격증 추가하기</h3>
                <button>X</button>
            </div>
            <div class="windowNav">
                <h4>자격증명</h4>
                <h4>기관명</h4>
                <h4>취득일</h4>
                <h4>자격증관리</h4>
            </div>
            <div class="windowCertInfo">
                <p class="certTitle">자동차운전면허</p>
                <p class="certAuth">도로교통공단</p>
                <p class="certDate">취득일</p>
                <div class="certUD">
                    <button class="certU">수정</button>
                    <button class="certD">삭제</button>
                </div>
            </div>
            <div class="windowCertAdd">
                <input type="text" id="certTitle" name="certTitle" placeholder="자격증 명">
                <input type="text" id="certAuth" name="certAuth" placeholder="기관명">
                <input type="text" id="certDate" name="certDate" placeholder="취득일">
                <div class="certUD">
                    <button class="certC">추가</button>
                </div>
            </div>
        </div>
        <div class="windowCertInfoSave">
            <button>저장하기</button>
        </div>
    </div>




</div>

</body>

<div th:replace="layout/footer :: footer"></div>

</html>
